# ignore all files
*

# include all folders
!**/

# include files to format
!*.ts
!*.tsx
!*.json
!*.yaml
!*.yml
!*.md

# exclusions
pnpm-lock.yaml
gen
dist
.botpress
packages/gainzmate/src/commands/view-command.ts

